In [120]:
import pandas as pd

df = pd.read_csv(
    "C:\\Users\\Lenovo\\Desktop\\Тест\\Занятие по pandas\\1 занятие\\pandas\\data\\auto.csv",
    index_col = 'ID')

In [7]:
df.count()

CarNumber       931
Make_n_model    931
Refund          914
Fines           869
History          82
dtype: int64

In [108]:
df.drop_duplicates(['CarNumber','Make_n_model', 'Fines'],inplace = True)

In [121]:
df.sort_values(['CarNumber','Make_n_model','Fines'],ascending=True,inplace=True)

In [122]:
df.drop_duplicates(['CarNumber','Make_n_model','Fines'],keep='last',inplace= True)

In [123]:
#Проверка на дубликаты
df.loc[df[['CarNumber','Make_n_model','Fines']].duplicated()]

Empty DataFrame
Columns: [CarNumber, Make_n_model, Refund, Fines, History]
Index: []

In [127]:
df.isnull().sum()

CarNumber        0
Make_n_model     0
Refund          12
Fines           60
dtype: int64

In [125]:
df.dropna(thresh=500,inplace=True,axis=1)

In [135]:
df.isna().sum()

CarNumber        0
Make_n_model     0
Refund           0
Fines           60
dtype: int64

In [134]:
df['Refund']=df['Refund'].ffill()

In [92]:
avg = df['Fines'].dropna().mean()
df['Fines'] = df['Fines'].fillna(value = avg)

In [140]:
df['Make'] = df['Make_n_model'].apply(lambda x:x.split()[0])
df['Model'] = df['Make_n_model'].apply(
    lambda x:x.split()[1] if len(x.split())>1 else None)

In [143]:
df.isnull().sum()

CarNumber        0
Make_n_model     0
Refund           0
Fines           60
Make             0
Model            9
dtype: int64

In [147]:
df.drop('Make_n_model',axis=1,inplace=True)

In [150]:
df.to_json('auto.json',orient='records')