In [26]:
import pandas as pd

In [27]:
'''
Загружаем csv файл пропуская первые две строки и две последние.
Разделитель табуляция,даем имя двум столбцам, и используем индекс строк с перового столбца
'''
df = pd.read_csv(
    "C:\\Users\\Lenovo\\Desktop\\Тест\\Занятие по pandas\\1 занятие\\pandas\\data\\feed-views.csv",
    sep ='\t',
    header = None,
    skiprows=[2,3],
    engine='python',
    skipfooter = 2,
    names = ["datetime", "user"],
    index_col = "datetime"
)

In [28]:
#Меняем имя индекса
df.index.name = 'date_time'

In [20]:
df.head()

                              user
date_time
2020-04-17 12:01:08.463179   artem
2020-04-17 12:01:23.743946   artem
2020-04-17 12:35:52.735016   artem
2020-04-17 12:36:21.401412  oksana
2020-04-17 12:36:22.023355  oksana

In [54]:
df.tail()

                                 user
date_time
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel

In [ ]:
#Выгружаем наш датафрем с расширением .log с разделителем;
df.to_csv('feed-views-semicolon.log',sep=';')

In [29]:
#Убираем наши индекс и переименовываем его обратно
df.reset_index(inplace = True)
df.rename(columns={'date_time':'datetime'},inplace = True)

In [30]:
df['datetime'] = df['datetime'].astype('datetime64[ns]')

In [31]:
df['year'] = df['datetime'].dt.year
df['month'] = df['datetime'].dt.month
df['day'] = df['datetime'].dt.day
df['hour'] = df['datetime'].dt.hour
df['minute'] = df['datetime'].dt.minute
df['second'] = df['datetime'].dt.second

In [32]:
df.set_index('user',inplace = True)

In [33]:
df['hh.mm'] = df['datetime'].dt.strftime('%H.%M')
df['hh.mm'] = df['hh.mm'].astype('float')

In [34]:
bins = [0, 3.59, 6.59, 10.59, 16.59, 19.59, 23.59]
labels = ['night','early morning','morning','afternoon','early evening','evening']
df['daytime']=pd.cut(df['hh.mm'],bins = bins,labels = labels)

In [ ]:
#Колличество элементов в датафрейме
df.count().sum()

np.int64(9647)

In [59]:
df['daytime'].value_counts()

daytime
evening          508
afternoon        250
early evening    145
night            128
morning           35
early morning      5
Name: count, dtype: int64

In [71]:
df.sort_values(['hour','minute','second'],ascending = True)

,datetime,year,month,day,hour,minute,second,hh.mm,daytime
user,,,,,,,,,
valentina,2020-05-15 00:00:13.222265,2020,5,15,0,0,13,0.00,NaN
valentina,2020-05-15 00:01:05.153738,2020,5,15,0,1,5,0.01,night
pavel,2020-05-12 00:01:27.764025,2020,5,12,0,1,27,0.01,night
pavel,2020-05-12 00:01:38.444917,2020,5,12,0,1,38,0.01,night
pavel,2020-05-12 00:01:55.395042,2020,5,12,0,1,55,0.01,night
...,...,...,...,...,...,...,...,...,...
artem,2020-04-29 23:48:14.208828,2020,4,29,23,48,14,23.48,evening
anatoliy,2020-05-09 23:53:55.599821,2020,5,9,23,53,55,23.53,evening
pavel,2020-05-09 23:54:54.260791,2020,5,9,23,54,54,23.54,evening
valentina,2020-05-14 23:58:56.754866,2020,5,14,23,58,56,23.58,evening
alexander,2020-05-14 23:59:38.758438,2020,5,14,23,59,38,23.59,evening

In [11]:
df[df["daytime"]=='night'].groupby('user')['hour'].max().sort_values(ascending=False)

user
konstantin    3
alexander     1
pavel         1
nikolay       1
valentina     1
anatoliy      0
artem         0
maxim         0
Name: hour, dtype: int32

In [90]:
df[df["daytime"]=='morning'].groupby('user')['hour'].min().sort_values(ascending=True)

user
alexander      8
anatoliy       9
artem          9
konstantin     9
maxim          9
aleksey       10
ekaterina     10
Name: hour, dtype: int32

In [12]:
df[df['daytime']=='morning'].nsmallest(n=3,columns='hour')

,datetime,year,month,day,hour,minute,second,hh.mm,daytime
user,,,,,,,,,
alexander,2020-05-15 08:16:03.918402,2020,5,15,8,16,3,8.16,morning
alexander,2020-05-15 08:35:01.471463,2020,5,15,8,35,1,8.35,morning
artem,2020-04-24 09:42:47.598208,2020,4,24,9,42,47,9.42,morning

In [13]:
df[df['daytime']=='morning'].nlargest(n=3,columns='hour')

,datetime,year,month,day,hour,minute,second,hh.mm,daytime
user,,,,,,,,,
konstantin,2020-04-18 10:53:52.623447,2020,4,18,10,53,52,10.53,morning
maxim,2020-04-18 10:56:55.833899,2020,4,18,10,56,55,10.56,morning
konstantin,2020-04-18 10:57:37.331258,2020,4,18,10,57,37,10.57,morning

In [36]:
df.describe().T

,count,mean,min,25%,50%,75%,max,std
datetime,1072,2020-05-10 09:30:16.241518592,2020-04-17 12:01:08.463179,2020-05-10 01:13:53.448644096,2020-05-11 22:48:35.302552832,2020-05-14 14:30:41.062071296,2020-05-21 23:23:49.995349,NaN
year,1072.0,2020.0,2020.0,2020.0,2020.0,2020.0,2020.0,0.0
month,1072.0,4.872201,4.0,5.0,5.0,5.0,5.0,0.334021
day,1072.0,13.531716,1.0,11.0,13.0,14.0,30.0,4.901354
hour,1072.0,16.25653,0.0,13.0,19.0,22.0,23.0,6.960369
minute,1072.0,29.602612,0.0,14.0,29.0,46.0,59.0,17.710471
second,1072.0,29.508396,0.0,14.0,30.0,45.0,59.0,17.424398
hh.mm,1072.0,16.552556,0.0,13.5275,19.195,22.0925,23.59,6.956035